<div class="shiplisting-boats-object">
    <div class="shiplisting-object-image">
        <a href="/{linked_detail_view}/{boat_id}/"><img src="{pictures-0-val}"/></a>
    </div>
    <div class="shiplisting-object-details">
        <h3 class="shiplisting-object-title"><a href="/{linked_detail_view}/{boat_id}/">{boat_data-general_data-boat_model-val}</a>
        </h3>
        <div class="shiplisting-object-detail">
            {object_detail_second}
        </div>
        <div class="shiplisting-object-detail">
            {i18n_boat-charter_data-areas-countries}: {countries}, {i18n_boat-charter_data-areas-ports}: {ports}
        </div>
        <div class="shiplisting-object-detail">
            {i18n_boat-charter_data-areas-water_areas}: <span class="shiplisting-object-value">{water_areas}</span>
        </div>
        {price_details}
    </div>
</div>
<!-- TODO -->