<div class="shiplisting-boats-filter">
    <form id="shiplisting-boats-filtering">
        <h2>{i18n_search-Search}</h2>
        <div class="shiplisting-filter-column q">
            <div class="shiplisting-filter-column-label">
            </div>
            <div class="shiplisting-filter-column-content">
                <input type="text" class="" name="q" id="q" placeholder="{i18n_words-eg} {i18n_search-bm}, {i18n_search-ct}, {i18n_search-bid}.." value="" />
            </div>
            <div class="shiplisting-filter-column-submit">
                <button type="button" id="shiplisting-filter-column-button">{i18n_search-Search}</button>
            </div>
        </div>
        {filtering_html}
        <div class="shiplisting-filter-actions">
            <div class="shiplisting-filter-reset">
                <a href="javascript:void(0);" class="shiplisting-filter-reset-link">{i18n_words-reset_button}</a>
            </div>
            <div class="shiplisting-filter-submit" style="display: none;">
                <a href="javascript:void(0);">» Suchauftrag</a>
            </div>
        </div>
    </form>
</div>