<div class="shiplisting-admin-wrapper">
    <div class="shiplisting-admin-header">
        <h1>Yachtino Shiplisting - Configuration</h1>
        <div class="shiplisting-admin-header-desc"></div>
    </div>
    <div class="shiplisting-admin-configuration-page-wrapper">
        <form method="post">
            <div class="shiplisting-admin-configuration-page" id="shiplisting_section_general">
                <h2 class="shiplisting-admin-title">
                    General Settings
                    <div class="shiplisting-admin-toggle"><a href="javascript:void(0);"
                                                             content-section="config_general">Hide section</a></div>
                </h2>
                <div class="shiplisting-admin-content active" id="config_general">
                    <div class="shiplisting-admin-form">
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label required">
                                <label for="shiplisting_active">Enabled:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <select id="shiplisting_active" name="shiplisting_active">
                                    <option value="0">Deactivated</option>
                                    <option value="1" {data_active}>Activated</option>
                                </select>
                            </div>
                        </div>
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label">
                                <label for="shiplisting_caching">Caching Enabled:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <select id="shiplisting_caching" name="shiplisting_caching" disabled>
                                    <option value="0">Deactivated</option>
                                    <option value="1" {data_cache}>Activated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shiplisting-admin-configuration-page" id="shiplisting_section_api">
                <h2 class="shiplisting-admin-title">
                    API Endpoint Settings
                    <div class="shiplisting-admin-toggle"><a href="javascript:void(0);" content-section="config_api">Hide
                        section</a></div>
                </h2>
                <div class="shiplisting-admin-content active" id="config_api">
                    <div class="shiplisting-admin-form">
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label required">
                                <label for="shiplisting_api_key">Application Key:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <input type="text" id="shiplisting_api_key" name="shiplisting_api_key"
                                       value="{data_api_key}"/>
                            </div>
                        </div>
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label required">
                                <label for="shiplisting_api_site_id">Application Site ID:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <input type="text" id="shiplisting_api_site_id" name="shiplisting_api_site_id"
                                       maxlength="5" value="{data_api_site_id}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shiplisting-admin-configuration-page" id="shiplisting_section_layout">
                <h2 class="shiplisting-admin-title">
                    Layout Settings
                    <div class="shiplisting-admin-toggle"><a href="javascript:void(0);" content-section="config_layout">Hide
                        section</a></div>
                </h2>
                <div class="shiplisting-admin-content active" id="config_layout">
                    <div class="shiplisting-admin-form">
                        <!--                        <div class="shipstling-admin-form-row" style="display: none;">-->
                        <!--                            <div class="shiplisting-row-label">-->
                        <!--                                <label for="shiplisting_filtering_standard">Standard Filtering:</label>-->
                        <!--                            </div>-->
                        <!--                            <div class="shiplisting-row-content">-->
                        <!--                                <select id="shiplisting_filtering_standard" name="shiplisting_filtering_standard">-->
                        <!--                                    <option value="0">Deactivated</option>-->
                        <!--                                    <option value="1">Activated</option>-->
                        <!--                                </select>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label">
                                <label for="shiplisting_filtering_advanced">Advanced Layout Filtering:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <select id="shiplisting_filtering_advanced" name="shiplisting_filtering_advanced">
                                    <option value="0">Deactivated</option>
                                    <option value="1" {data_filtering_advanced}>Activated</option>
                                </select>
                            </div>
                        </div>
                        <div class="shipstling-admin-form-row">
                            <div class="shiplisting-row-label">
                                <label for="shiplisting_contact_form">Layout Contact Form:</label>
                            </div>
                            <div class="shiplisting-row-content">
                                <select id="shiplisting_contact_form" name="shiplisting_contact_form">
                                    <option value="0">Deactivated</option>
                                    <option value="1" {data_contact_form}>Activated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shiplisting-admin-configuration-save">
                <button type="submit" class="shiplisting-admin-configuration-save-button">Save Configuration</button>
            </div>
        </form>
    </div>
</div>